<div class="container">

  <div *ngIf="tasks.length === 0" class="alert alert-info">
    Nenhuma tarefa encontrada.
  </div>

  <div class="list-group">
    <div *ngFor="let task of tasks" 
      class="list-group-item d-flex justify-content-between align-items-center"
      [routerLink]="['/tasks', task.id]"
      style="cursor: pointer">
      
      <div class="flex-grow-1">
        <h5 class="text-ellipsis">{{ task.title }}</h5>
        <p class="mb-1 text-ellipsis">{{ task.description }}</p>
        <small>
          Prioridade: <span [ngClass]="priorityClass(task.priority)">{{ task.priority }}</span> | 
          Prazo: {{ task.deadline | date:'dd/MM/yy' }} | 
          Status: <span [ngClass]="statusClass(task.status)">{{ task.status }}</span>
        </small>
      </div>

      <div class="btn-group gap-1 mt-2 mt-md-0" >
        <button
          class="btn btn-success btn-sm"
          (click)="finish.emit(task); $event.stopPropagation()"
          [disabled]="task.status === 'CONCLUIDA'">
          Finalizar
        </button>
        <!-- <button class="btn btn-primary btn-sm" (click)="editTask(task)">Editar</button> -->
        <button
          class="btn btn-danger btn-sm"
          (click)="delete.emit(task); $event.stopPropagation()">
          Excluir
        </button>
      </div>
    </div>
  </div>
</div>