  <div class="container d-flex justify-content-center align-items-center vh-100">

        <div class="card shadow p-4" style="min-width: 350px; max-width: 400px; width: 100%;">

            <form #form="ngForm">

                <div class="d-flex align-items-center justify-content-center my-4 gap-2">
                    <img src="/image/My-tasks.png" alt="my-tasks" height="40">
                    <h3 class="mb-0">Alterar Senha</h3>
                </div>

                <div class="mb-4">
                <label class="form-label">Senha</label>

                <input
                    type="password"
                    name="password"
                    class="form-control"
                    placeholder="Digite sua senha"
                    required
                    minlength="6"
                    [(ngModel)]="password"
                    #passwordModel="ngModel">

                    <div *ngIf="passwordModel.touched" class="text-danger">

                        <div *ngIf="passwordModel.errors?.['required']">
                            Senha é obrigatória
                        </div>

                        <div *ngIf="passwordModel.errors?.['minlength']">
                            Senha deve ter pelo menos 6 caracteres
                        </div>

                        <div *ngIf="!hasUppercase(password)">
                            Falta uma letra maiúscula
                        </div>

                        <div *ngIf="!hasLowercase(password)">
                            Falta uma letra minúscula
                        </div>

                        <div *ngIf="!hasNumber(password)">
                            Falta um número
                        </div>

                    </div>
                </div>

                <!-- Confirm Password -->
                <div class="mb-4">
                    <label class="form-label">Confirmar senha</label>

                    <input
                        type="password"
                        name="confirmPassword"
                        class="form-control"
                        placeholder="Confirme a senha"
                        required
                        [(ngModel)]="newPassword"
                        #confirmPasswordModel="ngModel">

                    <div *ngIf="confirmPasswordModel.touched" class="text-danger">

                        <div *ngIf="confirmPasswordModel.errors?.['required']">
                            Confirmação de senha é obrigatória
                        </div>

                        <div *ngIf="!passwordsMatch()">
                            As senhas não coincidem
                        </div>

                    </div>
                </div>

                <!-- Botão cadastrar -->
                <div class="d-grid my-4">
                    <button
                        class="btn btn-success"
                        (click)="resetPassword()"
                        [disabled]="!passwordsMatch()">
                        Alterar senha
                    </button>
                </div>

                <!-- Botão voltar -->
                <div class="d-grid my-3">
                    <button
                        class="btn btn-secondary"
                        type="button"
                        routerLink="/login"
                        [disabled]="loading">
                        Voltar
                    </button>
                </div>
            </form>
        </div>
  </div>

<!-- Info Modal-->
<app-info-modal
    [showModal]="showInfoModal"
    [modalTitle]="infoModalTitle"
    [modalMessage]="infoModalMessage"
    (close)="onInfoModalClose()">
</app-info-modal>