  <div class="container d-flex justify-content-center align-items-center vh-100">

        <div class="card shadow p-4" style="min-width: 350px; max-width: 400px; width: 100%;">

            <form #form="ngForm" (ngSubmit)="enviarEmail()">

                <div class="d-flex align-items-center justify-content-center my-4 gap-2">
                    <img src="/image/My-tasks.png" alt="my-tasks" height="40">
                    <h3 class="mb-0">Esqueci a Senha</h3>
                </div>

                <!-- Email -->
                <div class="my-4">
                    <label class="form-label">E-mail</label>

                    <input
                        type="email"
                        name="email"
                        class="form-control"
                        placeholder="Digite seu email"
                        required
                        email
                        [(ngModel)]="email"
                        #emailModel="ngModel">

                    <div *ngIf="emailModel.invalid && emailModel.touched" class="text-danger">

                        <div *ngIf="emailModel.errors?.['required']">
                            Email é obrigatório
                        </div>

                        <div *ngIf="emailModel.errors?.['email']">
                            Email inválido
                        </div>

                    </div>
                </div>

                <!-- Botão cadastrar -->
                <div class="d-grid my-3">
                    <button
                        class="btn btn-success"
                        type="submit"
                        [disabled]="form.invalid || loading">
                          <span *ngIf="loading" class="spinner-border spinner-border-sm me-2"></span>
                          {{ loading ? 'Enviando...' : 'Enviar e-mail' }}
                    </button>
                </div>

                <!-- Botão voltar -->
                <div class="d-grid my-3">
                    <button
                        class="btn btn-secondary"
                        type="button"
                        routerLink="/login"
                        [disabled]="loading">
                        Voltar
                    </button>
                </div>
            </form>
        </div>
  </div>

<!-- Info Modal-->
<app-info-modal
    [showModal]="showInfoModal"
    [modalTitle]="infoModalTitle"
    [modalMessage]="infoModalMessage"
    (close)="onInfoModalClose()">
</app-info-modal>